@CHARSET "UTF-8";
.receive {
  text-align: left;
  float: left;
  max-width: 75%;
  margin-right: auto;
  margin-top: inherit;
  border: solid 2px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.receive_name {
  text-align: left;
  font-size: 60%;
}
.send {
  text-align: right;
  float: right;
  max-width: 75%;
  margin-left: auto;
  margin-top: inherit;
  border: solid 2px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.send_name {
  text-align: right;
  font-size: 60%;
}
.receive_area {
  overflow-y: scroll;
  width: 500px;
  height: 300px;
}
.clear_float {
  clear: both;
}
.err_msg {
  color:red;
}


* html body{
overflow: auto;
}

select#channel {
  width: 100%;
}

.pos_right {
  margin-right: 5px;
  float: right;
}

div.header_area {
margin: 0;
padding: 0px 0px 0px 0px ;
}

div.main_area {
margin-top: 00;
padding: 0px 0px 0px 150px ;
}

div.channel_select_area {
position: fixed !important;
position: absolute;
top: 40px;
left: 10px;
width: 350px;
height: 180px;
/*background-color : #aaff66 ;*/
overflow: auto;
}

div.channel_create_area {
position: fixed !important;
position: absolute;
top: 200px;
left: 10px;
width: 350px;
height: 50px;
/*background-color : #aaff66 ;*/
overflow: auto;
}

div.footer_area {
  padding: 200px 0px 0px 0px ;
}