.icon-image {
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
}
.upload-target {
    display:none;
}
.dg-area {
    border:2px dotted #0B85A1;
    width:auto;
    color:#92AAB0;
    text-align:left;vertical-align:middle;
    padding:10px 10px 10 10px;
    /*margin-bottom:10px;*/
    font-size:150%;
}