@CHARSET "UTF-8";
.receive-area {
  overflow-y: scroll;
  height: 500px;
  margin: auto;
  padding: 1em 2em;
  background-color: #D8F3F0;
}
.scroll-y-area {
  overflow-y: scroll;
  height: 500px;
  margin: auto;
  padding: 1em 2em;
}
.chat-talk {
  overflow: hidden;
  margin: 0 0 1em 0;
  padding: 0;
}
.talk-receive {
  text-align: left;
  float: left;
}
.talk-send {
  text-align: left;
  float: right;
}
.talk-name {
  font-size: 60%;
}
.talk-receive .talk-name {
}
.talk-send .talk-name {
  text-align: right;
}
.talk-message {
    position: relative;
    box-sizing: border-box;
    width: auto;
    min-height: 50px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto 0 70px;
    padding: 1em;
}
.chat-talk .talk-message:before {
  position: absolute;
  top: 15px;
  left: -20px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-right-color: #FFFFFF;
}
.chat-talk .user-icon {
   float: left;
   width: auto;
 }
.chat-talk.talk-send .talk-message {
   margin: 0 90px 0 auto;
   color: #000;
   background: #78FF6C;
 }
 .chat-talk.talk-send .talk-message:before {
   right: -20px;
   left: auto;
   border-color: transparent;
   border-left-color: #78FF6C;
 }
.chat-talk.talk-send .user-icon {
   float: right;
   width: auto;
 }

.panel-form {
  margin: unset;
}

.clear-float {
  clear: both;
}
.err-msg {
  color:red;
}

.open-channel .join-channel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
.lines-on-sides {
  display: table;
  text-align: center;
  white-space: nowrap;
}
.lines-on-sides:after, .lines-on-sides:before {
  content: '';
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(transparent 50%, currentColor 50%, currentColor -webkit-calc(50% + 1px), transparent -webkit-calc(50% + 1px));
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, currentColor), color-stop(currentColor calc(50% + 1px)), to(transparent calc(50% + 1px)));
  background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 1px), transparent calc(50% + 1px));
  -webkit-background-clip: padding;
  background-clip: padding;
}
.lines-on-sides:after {
  border-left: 1em solid transparent;
}
.lines-on-sides:before {
  border-right: 1em solid transparent;
}
.small-table {
  font-size: 80%;
}