<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}"/>
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
  </head>
  <body>
    管理画面
    <form th:action="@{/enter}" method="post">
      <input type="submit" value="戻る"></input>
    </form>
  </body>
<script type="text/javascript" th:inline="javascript">
$(function() {
});
</script>
</html>
