<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/talk.css}"></link>
    <link rel="stylesheet" th:href="@{/css/common.css}"></link>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.css}"></link>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/tab.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/file-upload.js}"></script>
    <script th:src="@{/js/web-socket.js}"></script>
  </head>
  <body th:with="userInfo = ${user}">
  <!--/*/ <th:block th:unless="${#strings.isEmpty(errMsg)}"> /*/-->
  <script type="text/javascript" th:inline="javascript">
    alert(/*[[${errMsg}]]*/);
  </script>
  <!--/*/ </th:block> /*/-->
  <!-- header area -->
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/enter">
            Practice(Spring Boot Chat)
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-right">
            <!-- Chage user information -->
            <p class="navbar-text">ようこそ <span id="nav-user-name" th:text="${userInfo.userName()}"></span> さん。</p>
            <span class="icon-circle">
              <img id="user_image" th:src="${userInfo.userImageBase64()}"></img>
            </span>
            <input class="btn navbar-btn" type="button" id="make-channel-btn"
                   data-toggle="modal" data-target="#modal-create-channel" value="チャンネル作成"></input>
            <input class="btn navbar-btn" type="button" id="make-group-btn"
                   data-toggle="modal" data-target="#modal-create-group" value="グループ作成"></input>
            <input class="btn navbar-btn" type="button" id="logout-btn" value="ログアウト"></input>
          </div>
        </div>
      </div>
    </nav>
    <!-- /header area -->
    <hr />
    <!-- main area -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#chat-tab" data-toggle="tab">チャット</a></li>
      <li><a href="#user-tab" data-toggle="tab">ユーザー管理</a></li>
    </ul>
    <div class="tab-content" style="margin-top:10px">
      <div role="tabpanel" class="tab-pane active" id="chat-tab">
        <div th:replace="include/chat::main"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="user-tab">
        <div th:include="include/config::main"></div>
      </div>
    </div>
    <!-- /main area -->
    <!-- /Footer area -->
    <div class="footer-area">
    </div>
  <!-- /Footer area -->
    <form name="join-channel" id="join-channel" th:action="@{/talk}" method="post">
      <input type="hidden" name="user_id" id="user-id" th:value="${userInfo.userId()}"></input>
      <input type="hidden" name="user_name" id="user-name" th:value="${userInfo.userName()}"></input>
    </form>
    <th:block th:if="${userInfo.authority().name()}=='ROLE-ADMIN'">
      <form th:action="@{/admin}" method="post">
        <input type="submit" value="管理画面へ"></input>
      </form>
    </th:block>
    <form id="logout-form" th:action="@{/logout}" method="post">
    </form>
  <!-- modal -->
  <div th:include="modal/channel::create"></div>
  <div th:include="modal/group::create"></div>
  <!-- /modal js -->
  <script th:src="@{/js/modal-channel.js}"></script>
  <script th:src="@{/js/modal-group.js}"></script>
</body>
</html>
