<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/stomp.js}"></script>
    <script th:src="@{/js/chat-context.js}"></script>
  </head>
  <body>
    <form name="msg_form" th:action="@{/talk}">
      <input type="hidden" id="user_name" th:value="${user_name}"></input>
      <input type="hidden" id="room_name" th:value="${room_name}"></input>
      <input type="hidden" id="room_id" th:value="${room_id}"></input>
      <div class="receive_area" id="messages" style="margin-top: 10px;">
        <!--/*/ <th:block th:each="hst : ${histories}"> /*/-->
          <div th:text="${hst.getMessage()}" th:class="${hst.getUserName() == user_name ? 'send' : 'receive'}"></div>
          <div th:text="${hst.getUserName()}" th:class="${hst.getUserName() == user_name ? 'send_name clear_float' : 'receive_name clear_float'}"></div>
        <!--/*/ </th:block> /*/-->
      </div>
      <div>
          <div id="status_msg" style="color: #f00">未接続</div>
      </div>
      <input type="text" id="message" placeholder="入力してください。"></input>
      <input type="button" id="send_message" value="送信"></input>
      <input th:if="${del_auth}" type="button" id="delete_room_btn" value="閉鎖"></input>
      <input type="hidden" id="status" value=""></input>
    </form>
    <form id="leave_form" th:action="@{/enter}" method="post" style="display:none">
        <input type="hidden" id="user_id" th:value="${user_id}"></input>
        <input type="button" id="leave_room" value="退室する"></input>
    </form>
</body>
<script type="text/javascript" th:inline="javascript">
$(function() {

    var onClickCloseButton = true;

    var chatContext = new ChatContext('ws://' + location.host + '/chat', '/topic/room/');
    $(function() {
        if ($("#room_id").val()) {
            chatContext.close();
            chatContext.connect($("#room_id").val());
        } else {
            chatContext.close();
            $("#messages").html("");
        }
    });

    //メッセージを送信します。
    $("#send_message").on("click", function(){
        var msg = {};
        msg.message = $("#message").val();
        msg.user_name = $("#user_name").val();
        chatContext.sendMessage(msg);
        $.ajax({
            type: "GET",
            url: [[@{'/history/write'}]],
            data: {
                  roomId:$("#room_id").val(),
                  userName: $("#user_name").val(),
                  message:$("#message").val()
            },
            success: function(result){
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            }
        });
        $("#message").val("")
        return false;
    });

    // 退室
    $("#leave_room").on("click", function(){
        if ($("#status").val()=="connect") {
            sendDisconnectMessage();
            chatContext.close();
        }
        $.ajax({
            type: "GET",
            url: [[@{'/room/leave'}]],
            data: {
                  roomId:$("#room_id").val(),
                  userId: $("#user_id").val()
            },
            success: function(result){
                $("#leave_form").submit();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            }
        });
        onClickCloseButton = false;
        return false;
    });

    // 閉鎖
    $("#delete_room_btn").on("click", function() {
        $("#delete_room_btn").attr("disabled", true);
        $.ajax({
            type: "GET",
            url: [[@{'/room/delete'}]],
            data: {roomId:$("#room_id").val()},
            success: function(result){
                if (result["result"] === "success") {
                    // 閉鎖メッセージを送信
                    var msg = {};
                    msg.message ="ルームが作成者により閉鎖されました。";
                    msg.user_name = "system";
                    msg.proc = "force_close";
                    chatContext.sendMessage(msg);
                } else {
                    alert("削除に失敗しました。");
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            }
        });
    });

    function sendDisconnectMessage() {
        var msg = {};
        msg.message = $("#user_name").val() + "が退室しました。";
        msg.user_name = "system";
        chatContext.sendMessage(msg);
    }

    window.onbeforeunload = function(){
        if(onClickCloseButton == true){
            sendDisconnectMessage();
            chatContext.close();
        }
    }
    msgScroll();
});
</script>
</html>
