<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/stomp.js}"></script>
  </head>
  <body>
    <form name="msg_form" th:action="@{/talk}">
      <input type="hidden" id="user_name" th:value="${user_name}"></input>
      <input type="hidden" id="room_name" th:value="${room_name}"></input>
      <input type="hidden" id="room_id" th:value="${room_id}"></input>
      <div class="receive_area" id="messages" style="margin-top: 10px;">
        <!--/*/ <th:block th:each="hst : ${histories}"> /*/-->
          <div th:text="${hst.getMessage()}" th:class="${hst.getUserName() == user_name ? 'send' : 'receive'}"></div>
          <div th:text="${hst.getUserName()}" th:class="${hst.getUserName() == user_name ? 'send_name clear_float' : 'receive_name clear_float'}"></div>
        <!--/*/ </th:block> /*/-->
      </div>
      <div>
          <div id="status_msg" style="color: #f00">未接続</div>
      </div>
      <input type="text" id="message" placeholder="入力してください。"></input>
      <input type="button" id="send_message" value="送信"></input>
      <input th:if="${del_auth}" type="button" id="delete_room_btn" value="閉鎖"></input>
      <input type="hidden" id="status" value=""></input>
    </form>
    <form id="leave_form" th:action="@{/enter}" method="post" style="display:none">
        <input type="button" id="leave_room" value="退室する"></input>
    </form>
</body>
<script type="text/javascript" th:inline="javascript">
$(function() {
    /**
     * WebSocketのエンドポイントと配信先のプレフィックスを初期化します。
     * @param endpoint WebSocketのエンドポイント
     * @param subscribePath メッセージの配信先のプレフィックス
     */
    var ChatContext = function(endpoint, subscribePath) {
        this.endpoint = endpoint;
        this.subscribePath = subscribePath;
    };

    ChatContext.prototype = {
        /**
         * 部屋IDを指定して接続します。
         * @param roomId 部屋ID
         */
        connect : function(roomId) {
            //$("#messages").html("");
            //WebSocketの接続をSTOMPでラップします。stomp-websocket の JS が必要です。
            this.stompClient = Stomp.over(new WebSocket(this.endpoint));
            //接続後に部屋IDをパラメーターとしてコールバック関数を呼び出すように設定
            this.stompClient.connect({}, this.onConnected.bind(this, roomId));
        },
        /**
         * 接続後に指定した部屋の配信メッセージの購読を開始します。
         * @param roomId メッセージを購読する部屋ID
         */
        onConnected : function(roomId) {
            this.roomId = roomId;
            //「/topic/room/1」のような宛先のメッセージの購読を開始します。メッセージを受信した際のコールバック関数も設定
            this.stompClient.subscribe(this.subscribePath + roomId, this.onAcceptMessage.bind(this));
            // 接続中ルーム名を表示
            var roomName = $("#room_name").val();
            $("#status_msg").html(roomName + "に接続中");
            $("#status").val("connect");
            $("#form").show();
            $("#leave_form").show();
            // 入室メッセージを送信
            var msg = {};
            msg.message = $("#user_name").val() + "が入室しました。";
            msg.user_name = "system";
            msg.proc = "room_in";
            chatContext.sendMessage(msg);
        },
        /**
         * 受信したメッセージを表示します。
         */
        onAcceptMessage : function(message) {
            var retMsg = JSON.parse(message.body);
            if (retMsg.user_name === "system") {
                var msgBodyTag = $("<div></div>").text(retMsg.message);
                $("#messages").append(msgBodyTag);
                if (retMsg.proc == "force_close") {
                    var closeMsgTag = $("<div></div>").text("5秒後に自動で退室します。");
                    $("#messages").append(closeMsgTag);
                    chatContext.close();
                    $("#status").val("close");
                    var leavePage = function() {
                        location.href = "/enter";
                    }
                    setTimeout(leavePage, 5000);
                }
            } else {
                var msgBodyTag = $("<div></div>").text(retMsg.message);
                var msgSenderTag = $("<div></div>").text(retMsg.user_name);
                var msgTag = $("<p></p>").addClass("clear_float");
                if (retMsg.user_name === $("#user_name").val()) {
                    msgBodyTag.addClass("send");
                    msgSenderTag.addClass("send_name clear_float");
                } else {
                    msgBodyTag.addClass("receive");
                    msgSenderTag.addClass("receive_name clear_float");
                }
                $("#messages").append(msgTag.append(msgBodyTag).append(msgSenderTag));
            }
            msgScroll();
        },
        /**
         * 参加している部屋に対して、接続済のクライアントを通じて、メッセージを送信します。
         * @param message メッセージ
         */
        sendMessage : function(message) {
            if (!this.stompClient) {
                alert("接続されていません。");
                return false;
            }
            this.stompClient.send(this.subscribePath + this.roomId, {}, JSON.stringify(message));
        },
        /**
         * 接続を切断します。
         */
        close : function() {
            if (this.stompClient) {
                this.stompClient.disconnect();
                this.stompClient = null;
                this.roomId = null;
            }
            $("#status_msg").html("未接続");
            $("#status").val("close");
            $("#form").hide();
        }
    };

    var chatContext = new ChatContext('ws://' + location.host + '/chat', '/topic/room/');
    $(function() {
        if ($("#room_id").val()) {
            chatContext.close();
            chatContext.connect($("#room_id").val());
        } else {
            chatContext.close();
            $("#messages").html("");
        }
    });

    //メッセージを送信します。
    $("#send_message").on("click", function(){
        var msg = {};
        msg.message = $("#message").val();
        msg.user_name = $("#user_name").val();
        chatContext.sendMessage(msg);
        $.ajax({
            type: "GET",
            url: [[@{'/history/write'}]],
            data: {
                  roomId:$("#room_id").val(),
                  userName: $("#user_name").val(),
                  message:$("#message").val()
            },
            success: function(result){
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            }
        });
        $("#message").val("")
        return false;
    });

    // 退室
    $("#leave_room").on("click", function(){
        if ($("#status").val()=="connect") {
            var msg = {};
            msg.message = $("#user_name").val() + "が退室しました。";
            msg.user_name = "system";
            chatContext.sendMessage(msg);
            chatContext.close();
        }
        $("#leave_form").submit();
        return false;
    });

    // 閉鎖
    $("#delete_room_btn").on("click", function() {
        $("#delete_room_btn").attr("disabled", true);
        $.ajax({
            type: "GET",
            url: [[@{'/room/delete'}]],
            data: {roomId:$("#room_id").val()},
            success: function(result){
                if (result["result"] === "success") {
                    // 閉鎖メッセージを送信
                    var msg = {};
                    msg.message ="ルームが作成者により閉鎖されました。";
                    msg.user_name = "system";
                    msg.proc = "force_close";
                    chatContext.sendMessage(msg);
                } else {
                    alert("削除に失敗しました。");
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            }
        });
    });

    function msgScroll() {
        var psconsole = $('#messages');
        psconsole.scrollTop(
            psconsole[0].scrollHeight - psconsole.height()
        );
    }
    msgScroll();
});
</script>
</html>
