<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/stomp.js}"></script>
    <script th:src="@{/js/chat-context.js}"></script>
  </head>
  <body>
    <form name="msg_form" th:action="@{/talk}">
      <input type="hidden" id="user_name" th:value="${user_name}"></input>
      <input type="hidden" id="channel_name" th:value="${channel_name}"></input>
      <input type="hidden" id="channel_id" th:value="${channel_id}"></input>
      <div class="receive_area" id="messages" style="margin-top: 10px;">
        <!--/*/ <th:block th:each="hst : ${histories}"> /*/-->
          <div th:text="${hst.getMessage()}" th:class="${hst.getUserName() == user_name ? 'send' : 'receive'}"></div>
          <div th:text="${hst.getUserName()}" th:class="${hst.getUserName() == user_name ? 'send_name clear_float' : 'receive_name clear_float'}"></div>
        <!--/*/ </th:block> /*/-->
      </div>
      <div>
          <div id="status_msg" style="color: #f00">未接続</div>
      </div>
      <input type="text" id="message" placeholder="入力してください。"></input>
      <input type="button" id="send_message" value="送信"></input>
      <input th:if="${del_auth}" type="button" id="delete_channel_btn" value="閉鎖"></input>
      <input type="hidden" id="status" value=""></input>
    </form>
    <form id="leave_form" th:action="@{/enter}" method="post">
        <input type="hidden" name="userId" id="user_id" th:value="${user_id}"></input>
        <input type="button" id="leave_channel" value="チャンネル移動"></input>
    </form>
    <form id="withdrawal_form" th:action="@{/channel/withdrawal}" method="post">
        <input type="hidden" name="userId" th:value="${user_id}"></input>
        <input type="hidden" name="channelId" th:value="${channel_id}"></input>
        <input type="button" id="withdrawal_channel" value="チャンネル脱退"></input>
    </form>
</body>
<script type="text/javascript" th:inline="javascript">
$(function() {

    var chatContext = new ChatContext('ws://' + location.host + '/chat', '/topic/channel/');
    $(function() {
        if ($("#channel_id").val()) {
            chatContext.close();
            chatContext.connect($("#channel_id").val());
        } else {
            chatContext.close();
            $("#messages").html("");
        }
    });

    //メッセージを送信します。
    $("#send_message").on("click", function(){
        sendMsg();
    });

    // enter押下
    $(document).keypress(function(e) {
        if (e.which === 13) {
            sendMsg();
            return false;
        }
    });

    // send message 実処理
    var sendMsg = function() {
        var msg = {};
        var sendMsg = $("#message").val();
        if (!!!sendMsg) {
            return false;
        }
        msg.message = sendMsg;
        msg.user_name = $("#user_name").val();
        chatContext.sendMessage(msg);
        $.ajax({
            type: "GET",
            url: [[@{'/history/write'}]],
            data: {
                  channelId:$("#channel_id").val(),
                  userId: $("#user_id").val(),
                  userName: $("#user_name").val(),
                  message:$("#message").val()
            },
            success: function(result){
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            }
        });
        $("#message").val("")
        return false;
    }

    // 離脱
    var withdrawalChannel = function() {
        $.ajax({
            type: "GET",
            url: $("#withdrawal_form").attr("action"),
            data: {
                  channelId:$("#channel_id").val(),
                  userId: $("#user_id").val()
            },
            success: function(result){
                if ($("#status").val()=="connect") {
                    sendDisconnectMessage();
                    chatContext.close();
                }
                $("#leave_form").submit();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            }
        });
        return false;
    }

    $("#leave_channel").on("click", function(){
        return $("#leave_form").submit();
    });

    $("#withdrawal_channel").on("click", function(){
        return withdrawalChannel();
    });

    // 閉鎖
    $("#delete_channel_btn").on("click", function() {
        $("#delete_channel_btn").attr("disabled", true);
        $.ajax({
            type: "GET",
            url: [[@{'/channel/delete'}]],
            data: {channelId:$("#channel_id").val()},
            success: function(result){
                if (result["result"] === "success") {
                    // 閉鎖メッセージを送信
                    var msg = {};
                    msg.message ="ルームが作成者により閉鎖されました。";
                    msg.user_name = "system";
                    msg.proc = "force_close";
                    chatContext.sendMessage(msg);
                } else {
                    alert("閉鎖に失敗しました。");
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            }
        });
    });

    function sendDisconnectMessage() {
        var msg = {};
        msg.message = $("#user_name").val() + "が脱退しました。";
        msg.user_name = "system";
        chatContext.sendMessage(msg);
    }
    msgScroll();
});
</script>
</html>
